<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="styles/styles.css">
    <title>Capstone project 1 using public API</title>
</head>
<body>
    



    <div class="row featurette"> <div class="col-md-7"> <h2 class="featurette-heading fw-normal lh-1">Let me tell you a joke. <span class="text-body-secondary"></span></h2> <p class="lead"><%= joke %></p> </div> <div class="col-md-5"> <img src="/images/img.jpg"> <title>Placeholder</title><rect width="100%" height="100%" fill="/images/img.jpg"></rect></svg> </div> </div>



   
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>